@charset "utf-8";
 @-moz-viewport {
width: device-width;
scale: 1;
}
@-ms-viewport {
width: device-width;
scale: 1;
}
@-o-viewport {
width: device-width;
scale: 1;
}
@-webkit-viewport {
width: device-width;
scale: 1;
}
@viewport {
width: device-width;
scale: 1;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 100%;
}
body {
	margin: 0;
}
img {
	max-width: 100%;
	display: block;
}
header {
    background-image: url(../images/wooden-background-grunge-edited-large.jpg);
	background-position: left top;
	background-repeat:repeat-x;
	padding: 1rem;
	margin: 0;
	width: 100%;           
}

.nav-top {
    clear: both;
    border: 2px solid #5f452b;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: #f2e4b1;
    text-align: center;
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline;
    margin: 0 -3px;
    padding: 0 7%;
    color: #5f452b;
    font-family: Advent Pro;
    font-size: 1.25rem;
    text-decoration: none;
    border: 2px solid #5f452b;
}

.logo {
	max-width:15rem;
	min-width: 10rem;
}

div.billboard { 
	background-color: #fff;
	width: 100%;
}

h1 {
	font-family: Advent Pro;
	font-size: 2.5rem;
	color: #f2e4b1;
	margin: 10rem 2rem;
	margin-left: 20%;
	background-color: #000;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	font-style: normal;
	padding: .5rem;
	position: absolute;
	top:100px;
}

img.tea {
	margin: 0 auto;
}

article {
	font-size: 1rem;
	color: #fff;
	margin: 2rem 25% .5rem 10%;
	background: #fff;
	font-style: normal;
	width: 80%;
	top: 60px;
    display: block;
}



.tea-ad-one {
    padding: 0; 
    color: #312b1f; 
    background-color: #f2e4b1;  
    margin: 0 -1rem; 
    text-align: center; 
    font-family: Rockwell, sans-serif;
    font-size: 20px;
    border: 2px solid #f2e4b1;
    margin-bottom: 2rem;
}

.tea-ad-two {
    padding: 0; 
    color: #312b1f; 
    background-color: #f2e4b1;  
    margin: 0 -1rem; 
    text-align: center; 
    font-family: Rockwell;
    font-size: 20px;
    border: 2px solid #f2e4b1;
    margin-bottom: 2rem;
}
    
.textbox {
    padding: 3rem .6rem; 
    color: #f2e4b1; 
    background-color: #312b1f; 
    border: #dddddd 2px solid; 
    margin: 0 -1rem; 
    text-align: center; 
    font-family: Rockwell;
    font-size: 40px;
    border: 2px solid #f2e4b1; 
    margin-bottom: 2rem;
}

div.month {
    font-family: rockwell, sans-serif;
    color: #312b1f;
    display: inline-block;
    border: 4px solid #312b1f;
    width: 100%;
    margin: 0 5% 1.5rem 0;
    padding: 1rem;
}

.teamonth {
    float: right;
    margin-right: 10rem;
}

.bucket1 { 
    overflow:  hidden;
    background-color: red; /* Visual Aid */
}

.bucket1 figure {
    margin: 0;
    padding: 0;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    float: left;
    width: 45%; 
    margin: 0 10% 1.5rem 0; 
    padding: 0;
}

.bucket1 a:nth-child(even) {/* every even numbered <figure> has no margin */
    margin: 0;     
}

.bucket1 figcaption {
    background-color:  yellow; /* Visual Aid */
    font-family: rockwell, sans-serif;
    color: red;
    
}

footer {
	background-color: #f2e4b1;
    top: 30rem;
    padding: 15px;
    height: 8rem;
}

footer img {
	width: 60px;
	display: inline;
	padding: 10px;
    margin-left: 10px
}

